<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1052512344044-nj0cr6b05p39hbq1r3785igidvfj3hk5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052512344044-nj0cr6b05p39hbq1r3785igidvfj3hk5</string>
	<key>API_KEY</key>
	<string>AIzaSyAhie26R-Lt7H1mkphWJMse2WoFY7i9I98</string>
	<key>GCM_SENDER_ID</key>
	<string>1052512344044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thomasgiron.Unsinkable</string>
	<key>PROJECT_ID</key>
	<string>unsinkable-af776</string>
	<key>STORAGE_BUCKET</key>
	<string>unsinkable-af776.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052512344044:ios:5fd2891db4091b51aa12c9</string>
</dict>
</plist>